.chart__wrapper {
    color: $text-color;
    min-width: 100vw;
    min-height: 100vh;
    display: flex !important;
    flex-direction: column;
    align-items: center;
}


//заголовок
.chart__wrapper h3 {
    color: $text-color; 
    font-size: 40px;
}

.chart__wrapper {
    color: $text-color;
}

.chart__wrapper iframe {
    width: 446px;
    height: 234px;
    border: 2px black solid;
    border-radius: 20px;
}

@media (max-width: 600px) {
    .chart__wrapper iframe {
        transform: scale(0.9);
    }

    .chart__wrapper h3 { 
        font-size: 35px;
    }

  }

select {
    margin-top: -20px;
    margin-bottom: 20px;
    width: 250px;
    border: 3px solid #fff;
    border-radius: 10px;
    outline: none;
}

.chart__wrapper input {

    height: 26px;
    width: 300px;
    border: 3px solid #fff;
    border-radius: 10px;
    outline: none;
}


.end, .start {
    width: 446px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.end h3, .start h3 {
    font-size: 26px;
    margin: 20px 0;
}