.header {
    background-color: $main-purple;
    max-width: 100vw;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $desktop-header-fz;
    font-family: 'Kalam', cursive;
    a {
        color: $background-color;
        text-transform: uppercase;
        text-decoration: none;
    }
    letter-spacing: 20px;
}

@media (max-width: 760px) {
    .header {
        font-size: $large-phone-header-fz;
        max-height: 50px;
        min-height: 50px;
        padding: 0 30px;
        letter-spacing: 10px;
    }
}

@media (max-width: 425px) {
    .header {
        font-size: $middle-phone-header-fz;
        letter-spacing: 8px;
    }
}

@media (max-width: 390px) {
    .header {
        font-size: $small-phone-header-fz;
        letter-spacing: 5px;
    }
}