$black-color: #0C0C0C;

* {
    box-sizing: border-box;
}

body, html, main {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    //overflow: hidden; 
}


@import "./blocks/charts.scss";
@import "./blocks/welcomeScreen.scss";